{{ define "main" }}
{{ $slug := .File.BaseFileName }} <!-- Get the current page slug -->
{{ $cover := index .Site.Data.covers $slug }} <!-- Lookup the cover in covers.yml -->
{{ $defaultImage := "https://images.unsplash.com/photo-1466515562424-5c0e569369d8?q=80&w=2621&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" | relURL }}
<figure class="article-cover">
  <img src="{{ if $cover.image }}{{ $cover.image }}{{ else }}{{ $defaultImage }}{{ end }}" alt="Cover Image for {{ .Title }}" />
</figure>
<div id="post-content" class="post h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">

<a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "02.01.2006 15:04:05 -0700" }}">{{ .Date | time.Format ":date_long" }}</time> ∞</a>
{{ if .Title }}
<h2 class="p-name">{{ .Title }}</h2>
{{ end }}

<article class="post-content e-content">
  {{ .Content }}
</article>

</div>
{{ if or (templates.Exists "partials/reply-by-email.html") (templates.Exists "partials/conversation-link.html") (templates.Exists "partials/plugin_tinylytics.html") (templates.Exists "partials/share-on-threads.html")}}
<ul class="reply-buttons">
  {{ if templates.Exists "partials/plugin_tinylytics.html" }}<li><button class="tinylytics_kudos">Kudos</button></li>{{ end }}
  {{ if templates.Exists "partials/reply-by-email.html" }}<li>{{ partial "reply-by-email.html" . }}</li>{{ end }}
  {{ if templates.Exists "partials/conversation-link.html" }}<li>{{ partial "conversation-link.html" . }}</li>{{ end }}
  {{ if templates.Exists "partials/share-on-threads.html" }}<li>{{ partial "share-on-threads.html" . }}</li>{{ end }}
{{ end }}
</ul>
{{ if .Params.bluesky }}
  <a class="u-syndication" {{ printf "href=%q" .Params.bluesky.url | safeHTMLAttr }} style="display: none;">Also on Bluesky</a>
{{ end }}

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{ end }}
