@font-face {
  font-family: "Cartridge";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Cartridge-Regular.woff2") format("woff2"),
    url("/fonts/Cartridge-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cartridge";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Cartridge-Bold.woff2") format("woff2"),
    url("/fonts/Cartridge-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/iAWriterMonoS-Regular.eot") format("embedded-opentype"),
    url("/fonts/iAWriterMonoS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterMonoS-Regular.woff") format("woff");
  font-display: swap;
}

:root {
  --bg-light: #fff;
  --bg-light-opaq: #ffffffd1;
  --text-light: #111;
  --bg-dark: #060C12;
  --bg-dark-opaq: #060c12e8;
  --text-dark: rgba(255, 255, 255, 0.80);
  --link-color-light: #d23719;
  --link-color-dark: #1c88e8;
  --button-color-light: #d23719;
  --button-color-dark: #3b7fc6;
  --accent-blue: #1C91E1;
  --accent-red: #ca2017;
  --font-stack-mono: "iA Writer Mono", monospace;
  --font-stack-sans: "Source Sans 3", "-apple-system", BlinkMacSystemFont, "helvetica neue", Helvetica, Arial, sans-serif;
  --font-stack-sans: "Avenir Next", Avenir, "-apple-system", BlinkMacSystemFont, "helvetica neue", Helvetica, Arial, sans-serif;
	--font-stack-titles: Cartridge, var(--font-stack-sans);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p, img, figure, ul, ol, dl, li {
  margin-bottom: 1rem;
}

ul li:last-of-type, ol li:last-of-type, .description p:last-of-type {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

figcaption {
  font-size: 90%;
  text-align: center;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small,
sub,
sup,
.small {
  font-size: 1.4rem;
}

a,
a:visited {
  color: inherit;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  font-family: var(--font-stack-mono);
  height: -webkit-fill-available;
}

body {
  line-height: 1.8;
  font-weight: 400;
  min-height: 100%;
  font-size: 1.6rem;
  -moz-font-feature-settings:"liga" 1!important;
  font-feature-settings:"liga" 1!important;
  background-color: var(--bg-light);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: var(--text-light);
  overflow-x: hidden;
  background: url('https://images.unsplash.com/photo-1569271532860-dd35503aaf1f?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack-titles);
  font-weight: bold;
  margin-bottom: 1.3rem;
  line-height: 1.3;
}

h1 a, h2 a, h3 a {
  color: var(--title-color-light);
}

ul, ol {
  list-style-position: inside;
  margin-bottom: 2rem;
}

ul li, ol li {
  margin-bottom: 0.5rem;
}

main a, main a:visited {
  font-weight: 600;
}

main p {
  margin-bottom: 1.3rem;
}

main blockquote {
  border-left: 5px solid var(--link-color-light);
  padding-left: 15px;
  font-style: italic;
  margin-bottom: 1.3rem;
}

.microblog_conversation {
  margin-top: 4rem;
  padding-top: 4rem;
}

.microblog_conversation::before {
  content: 'Replies from Fediverse';
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  font-weight: bold;
  font-family: var(--font-stack-titles);
  display: block;
}

.microblog_post {
  margin-bottom: 3rem;
}

.microblog_post:last-of-type {
  margin-bottom: 0;
}

.microblog_time {
  font-size: 90%;
}

.microblog_user {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.microblog_user img {
  margin-bottom: 0;
  border-radius: 100%;
}

.microblog_text a {
  color: var(--accent-red);
}

.youtube-embed {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.navthree {
  display: flex;
  justify-content: space-between;
}

.navthree h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 11px;
  margin-bottom: 31px;
  color: #111;
  letter-spacing: 2px;
}

.navthree ul {
  list-style-type: none;
}

.navthree ul li {
  padding-left: 0;
  font-size: 1.6rem;
  line-height: 16px;
  margin-bottom: 12px;
}

.navthree ul li a {
  color: #111;
  transition-duration: 0.5s;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  width:100%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.top-head {
  max-width: 120rem;
  width: 100%;
}

.header-cover {
  background: url(https://www.juhaliikala.com/cover.jpg) no-repeat center center;
  background-size: auto;
  height: 300px;
  background-size: cover;
  width: 100%;
  max-width:100%;
}

.title-fediverse-handle {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-items: center;
  gap: 2rem;
}

.title-fediverse-handle .site-title {
  margin: 0;
}

.page-content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.post-tags {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  margin-bottom: 0;
  font-size: 90%;
}

main .post-title a {
  color: var(--text-color-light);
}

main > article,
main > div {
  background-color: var(--bg-light);
  padding: 3rem;
}

.page-content main {
  font-size: 1.6rem;
  color: var(--text-light);
  max-width: 78rem;
  width: 100%;
  align-self: flex-start;
}

main .latest-article {
  margin-bottom: 1rem;
}

.latest-article figure, .latest-article img {
  margin-bottom: 0;
}

.page-content.fediverse main, .page-content.subscribe main, .page-content.photos main, .page-content.archive main {
  max-width: 100%;
  width: 100%;
}

.page-content.fediverse .side, .page-content.subscribe .side, .page-content.photos .side, .page-content.archive .side {
  display: none;
}

.page-header .inner {
  position: relative;
}

.h-entry img {
  margin-bottom: 2rem;
}

.top-head .inner {
  padding: 5rem 2rem 4rem 2rem;
  background-color: var(--bg-light);
  color: var(--text-light);
}

.page-content .side {
  padding: 3rem 2rem;
  background: var(--bg-light-opaq);
  color: var(--text-light);
  align-self: flex-start;
  max-width: 41rem;
  width: 100%;
}

.side .subscribe-block {
  margin-bottom: 3rem;
}

.profile_photo { width: 100px; height: 100px; margin: 0; }

.wrapper .inner {
  font-size: 1.6rem;
  background-color: var(--bg-light);
  color: var(--text-light);
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  padding: 5rem;
}

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header img {
  border-radius: 100%;
  border: 3px solid var(--bg-light);
  background: var(--bg-light);
	padding: 5px;
}

.profile-photo-link, .header-subscribe-btn {
  position: absolute;
	top: -50px;
}

.site-header .header-subscribe-btn {
  right: 30px;
  top: -18px;
  background: var(--accent-blue);
  color: #fff;
  border-radius: 5px;
  padding: 3px 15px;
  display: block;
}

.header-subscribe-btn span {
  margin-left: 1rem;
}

.post_list .h-entry {
  margin-bottom: 3rem;
  border-bottom: 1px dashed var(--text-light);
  padding-bottom: 3rem;
}

.home_posts {
  list-style: none;
  background: var(--bg-light);
  color: var(--text-light);
  padding: 5rem;
}

.itsme {
  position: absolute;
  top: 7rem;
  left: 7rem;
  height: 2.8rem;
}

.page-header .site-title {
  margin: 0;
  line-height: 1;
  font-size: 3rem;
}

.home_columns {
  gap: 1rem;
}

.home_columns .home_blogroll {
  background-color: var(--bg-light-opaq);
  align-self: flex-start;
  padding: 2rem 1rem;
}

.site-footer {
  margin-top: 3rem;
  font-family: var(--font-stack-mono);
  font-size: 1.6rem;
  border-top: 5px dotted #eee;
  padding-top: 30px;
}

.site-footer .navthree {
  margin-top: 3rem;
}

.site-footer a svg {
  display: inline;
  fill: #ccc;
}

.threads-instagram {
  line-height: 1;
  display: inline-flex;
  align-items: last baseline;
  gap: 1rem;
}

.threads-instagram a {
  display: inline-flex;
  align-items: center;
}

.threads-instagram a svg {
  fill: var(--text-color-light);
  margin-right: 0.5rem;
}

.colophon {
  margin-top: 3rem;
  margin-bottom: 0;
}

.author-link:is(:focus, :hover, :visited ) {
  color: var(--text-color-light);
  font-weight: bold;
}

time {
  color: var(--accent-red);
}

.post-content a {
  color: var(--accent-red);
}

.post-meta {
  font-size: 1.5rem;
  font-family: var(--font-stack-mono);
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-bottom: 1.3rem;
}

.subscribe-form label {
  position: absolute;
  left: -5000px;
}

.subscribe-form > input {
  flex: 1 1 10ch;
}

.subscribe-form > input[type=email] {
  flex: 3 1 30ch;
}

.subscribe-form input {
  padding: 10px 20px;
  border: 1px solid #ddd;
  font-size: 1.5rem;
}

.subscribe-form input[type=submit] {
  background-color: var(--button-color-light);
  color: #fff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.subscribe-form input[type=submit]:hover {
  text-decoration: none;
  opacity: 0.8;
}

.subscriber-promise {
  text-align: center;
  font-size: 90%;
}
.subscriber-promise strong {
  color: var(--text-light);
}

.site-title {
  position: relative;
}

.archive-categories {
  column-count: 3;
  margin: 3rem 0;
}

.reply-buttons {
  list-style: none;
  border-top: 1px dashed;
  background-color: var(--bg-light);
  padding: 3rem;
  margin-bottom: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.reply-buttons li {
  display: inline-flex;
  white-space: nowrap;
  flex-wrap: wrap;
}

.reply-buttons .reply-on {
  margin-left: auto;
}

.reply-buttons button, .reply-buttons a, .microblog_reply_button input {
  vertical-align: baseline;
  padding: 5px 10px;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid var(--text-light);
  background: none;
  color: var(--text-light);
  -webkit-appearance: none;
  appearance: none;
  font-weight: normal;
  cursor: pointer;
}

.full-archives .h-entry {
  margin-bottom: 3rem;
}

.full-archives .h-entry:last-of-type {
  margin-bottom: 0;
}

.top-nav {
  background: #000;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu, .social-menu {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 0;
}

.main-menu li, .social-menu li {
  margin-bottom: 0;
}

.social-menu span {
  margin-left: 1rem;
}

.from-feed-header {
  display: flex;
  gap: 1rem;
  border-bottom: 1px dashed;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: start;
}

.from-feed-header h3 {
  font-size: 2.8rem;
  margin: 0;
}

.fediverse-address {
  background: #f0f0f0;
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.read-more {
  text-align: right;
  margin-bottom: 0;
}

.article-meta {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.article-meta span {
  text-transform: uppercase;
}

main .category-list {
  list-style: none;
  padding: 0;
}

.post-listing-meta {
  display: flex;
  align-items: center;
  gap: 5px;
}

.microblog_reply_form {
  margin-top: 5rem;
}

.page-content.subscribe {
  max-width: 700px;
}

.post-nav {
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-dark);
    color: var(--text-color-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main h1, main h2, main h3, main strong {
    color: #fff;
  }

  .navthree ul li a {
    color: #969CA6;
  }

  .navthree h3 {
    color: #969CA6;
  }

  .author-link:is(:focus, :hover, :visited ) {
    color: var(--text-dark);
  }

  .subscribe-form input[type=submit] {
    background-color: var(--button-color-dark);
  }

  .threads-instagram a svg {
    fill: var(--text-dark);
  }

  main blockquote {
    border-left: 5px solid var(--link-color-dark);
  }

  .wrapper .inner, .home_columns .home_posts, .top-head .inner {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }

  .home_columns .home_blogroll {
    background-color: var(--bg-dark-opaq);
    color: var(--text-dark);
  }

  .home_blogroll a {
    color: var(--text-dark);
  }

  .page-content main {
    color: var(--text-dark);
  }

  .page-content .side {
    background: var(--bg-dark-opaq);
    color: var(--text-dark);
  }

  .page-header img {
    border-radius: 100%;
    border: 3px solid var(--bg-dark);
    background: var(--bg-dark);
  }

  .post_list .h-entry {
    border-bottom: 1px dashed var(--text-dark);
  }

  time {
    color: var(--accent-blue);
  }


  .post-content a {
    color: var(--accent-blue);
  }

  .reply-buttons {
    background-color: var(--bg-dark);
  }

  .microblog_text a {
    color: var(--accent-blue);
  }

  .reply-buttons button, .reply-buttons li a, .microblog_reply_button input {
    border: 1px solid var(--text-dark);
    color: var(--text-dark);
  }

  main .post-title a {
    color: var(--text-color-dark);
  }

  main > article,
  main > div {
    background-color: var(--bg-dark);
  }

  .fediverse-address {
    background: #f0f0f0;
    padding: 3px 10px;
    border-radius: 10px;
    color: #3c3c3c !important;
  }
}

@media (max-width: 930px) {
  body {
    background-image: none;
  }

  .container {
    flex-direction: column;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-content {
    gap: 0;
  }

  .cover {
    height: 40vh;
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: auto;
  }

  .wrapper .inner {
    padding: 1rem;
  }

  .page-content .inner {
    padding: 1rem;
  }

  .top-head .inner {
    padding: 3rem 2rem;
  }

  main > article, main > div {
    padding: 3rem 2rem;
  }

  .header-cover {
    height: 200px;
  }

  .title-fediverse-handle {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: 2rem;
    line-height: 1;
  }

  .fediverse-name {
    font-size: 85%;
  }

  .home_columns {
    flex-direction: column;
    align-items: start;
  }

  .profile_photo { width: 80px; height: 80px; }

  .home_blogroll { display: none; padding: 0;}

  .home_posts { flex: auto; width: 100%; max-width: 100%;padding: 0; }

  .description {
    font-size: 95%;
  }

  .top-nav {
    padding: 10px 10px;
    font-size: 90%;
  }

  .social-menu span {
    display: none;
  }
  .archive-categories {
    column-count: 2;
  }

  .itsme {
    position: absolute;
    top: 5rem;
    left: 6rem;
    height: 2.4rem;
  }
}

@media (max-width: 520px) {
  .navthree {
    flex-direction: column;
  }
}

@media (prefers-reduced-motion) {
  main a {
    transition: none;
  }
}