<!DOCTYPE html>
<html lang="{{ .Site.Data.site.language }}">

{{ partial "head.html" . }}

<body class="{{ if .IsHome }}home{{ else }}page{{ end }}">
  <div class="container">
    {{ partial "header.html" . }}

    <div class="page-content">
      <div class="main">
        {{ block "main" . }}{{ end }}
      </div>
      <aside class="side">
        <h3>Subscribe to blog updates</h3>
        <p>Subscribe to the email newsletter for this blog. By subscribing, you get new articles from this blog via email as soon as they go live.</p>
        <p>It’s free and you can unsubscribe anytime. 😊</p>
        <form class="subscribe-form" method="POST" action="https://micro.blog/users/subscribe/65934">
          <input type="text" name="email" size="30" placeholder="Your email address">
          <input type="submit" value="Subscribe">
        </form>

        {{ if .IsHome }}
        <h3>Blogroll - Recommendations</h3>
        <ul>
          {{ range .Site.Data.blogrolls.recommendations }}
            <li><a href="{{ .url }}">{{ .name }}: <span>{{ (urls.Parse .url).Hostname }}</span></a></li>
          {{ end }}
        </ul>
        <p>Blogroll as: <a href="/.well-known/recommendations.opml">OPML</a> | <a href="/.well-known/recommendations.json">JSON</a></p>
        {{ end }}
      </aside>
    </div>
  </div>

  {{ range .Site.Params.plugins_js }}
  <script src="{{ . }}"></script>
  {{ end }}
</body>

</html>
