{{ define "main" }}
<div class="archive h-feed">
	<h2 class="post-title">Archive</h2>
	{{ with ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
		<h3>Posts by category</h3>
		<div class="archive-categories">
			<ul class="category-list">
				{{ range . }}
					{{ $categoryName := .Title }}
					{{ $postCount := len (where $.Site.RegularPages "Params.categories" "intersect" (slice $categoryName)) }}
					{{ if gt $postCount 0 }}
					<li><a href="{{ .Permalink }}">{{ .Title }} ({{ $postCount }})</a></li>
					{{ end }}
				{{ end }}
			</ul>
		</div>
	{{ end }}
	<div class="full-archives h-feed">
		{{ $list := (where .Site.Pages "Type" "post") }}
		{{ range $list }}

		<div class="h-entry">
			<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "02.01.2006 15:04:05 -0700" }}">{{ .Date | time.Format ":date_long" }}</time></a>:
			{{ if .Title }}
				<span class="p-name"><b>{{ .Title }}</b></span>
				<div class="p-summary">{{ .Summary | truncate 350 }}</div>
			{{ else }}
				<span class="p-summary">{{ .Summary | truncate 250 }}</span>
			{{ end }}
		</div>

		{{ end }}
	</div>
</div>
{{ end }}
