<header class="site-header top-head page-header">
	<div class="top-nav">
		<nav>
			<ul class="main-menu">
				<li><a href="/">Feed</a></li>
				<li><a href="{{ "archive" | absURL }}">Archive</a></li>
				<li><a href="{{ "photos" | absURL }}">Photos</a></li>
				<li><a href="{{ "categories/article" | absURL }}">Articles</a></li>
			</ul>
		</nav>
		<ul class="social-menu">
			<li><a href="https://www.threads.net/@nomadcouch"><i class="fa-brands fa-threads"></i><span>Threads</span></a></li>
			<li><a href="https://www.instagram.com/nomadcouch/"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a></li>
			<li><a href="https://micro.blog/juha"><i class="fa-brands fa-microblog"></i><span>Micro.blog</span></a></li>
		</ul>
	</div>
	{{ if .IsHome }}
	<div class="header-cover"></div>
	<div class="inner">
		<a href="/" class="profile-photo-link">
			<img class="profile_photo u-photo" src="{{ "avatar160.jpg" | relURL }}" alt="{{ .Site.Title }} Profile Photo">
		</a>
		<a href="{{ "subscribe" | absURL }}#post-content" class="header-subscribe-btn">
			Subscribe
		</a>
		<div class="title-fediverse-handle">
			{{ if .IsHome }}<h1 class="site-title">{{ else }}<h2 class="site-title">{{ end }}
				<a class="p-name u-url" href="/">{{ .Site.Data.site.name }}</a>
				<svg class="itsme" role="img" viewBox="0 0 22 22" fill="#1da1f2">
					<path d="M20.396 11a3.487 3.487 0 0 0-2.008-3.062 3.474 3.474 0 0 0-.742-3.584 3.474 3.474 0 0 0-3.584-.742A3.468 3.468 0 0 0 11 1.604a3.463 3.463 0 0 0-3.053 2.008 3.472 3.472 0 0 0-1.902-.14c-.635.13-1.22.436-1.69.882a3.461 3.461 0 0 0-.734 3.584A3.49 3.49 0 0 0 1.604 11a3.496 3.496 0 0 0 2.017 3.062 3.471 3.471 0 0 0 .733 3.584 3.49 3.49 0 0 0 3.584.742A3.487 3.487 0 0 0 11 20.396a3.476 3.476 0 0 0 3.062-2.007 3.335 3.335 0 0 0 4.326-4.327A3.487 3.487 0 0 0 20.396 11zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"></path>
				</svg>
				{{ if .IsHome }}</h1>{{ else }}</h2>{{ end }}
			<span class="fediverse-name">Follow on Fediverse: <a href="{{ "fediverse" | absURL }}">@juha@juhaliikala.com</a></span>
		</div>
		<div class="description">
			<p>{{ .Site.Params.itunes_description | safeHTML }}</p>
			<p>{{ .Site.Data.author.description_alt }}</p>
		</div>
	</div>
	{{ end }}
</header>
