{{ $slug := .File.BaseFileName }} <!-- Get the current page slug -->
{{ $cover := index site.Data.covers $slug }} <!-- Lookup the cover in covers.yml -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <meta name="twitter:card" content="summary">
  {{ with .Title }}
  <meta name="twitter:title" content="{{ . }}">
  <meta property="og:title" content="{{ . }}">
  {{ else }}
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ .Site.Title }}">
  {{ end }}
  {{ if .IsHome }}
  <meta name="twitter:description" content="{{ .Site.Params.itunes_description | truncate 60 }}">
  <meta name="og:description" content="{{ .Site.Params.itunes_description | truncate 60 }}">
  <meta name="description" content="{{ .Site.Params.itunes_description }}">
  <meta name="twitter:image" content="https://micro.juhaliikala.com/cover.jpg">
  <meta property="og:image" content="https://micro.juhaliikala.com/cover.jpg">
  {{ else }}
  <meta name="twitter:description" content="{{ .Summary | truncate 60 }}">
  <meta name="og:description" content="{{ .Summary | truncate 60 }}">
  <meta name="description" content="{{ .Summary }}">
  {{ end }}
  {{ if $cover }}
  <!-- If the cover exists for this page, use it -->
  <meta name="twitter:image" content="{{ $cover.image }}">
  <meta property="og:image" content="{{ $cover.image }}">
  {{ else }}
    <!-- Fallback to a default image if no cover is found for the current slug -->
    <meta name="twitter:image" content="https://micro.juhaliikala.com/cover.jpg">
    <meta property="og:image" content="https://micro.juhaliikala.com/cover.jpg">
  {{ end }}
  {{ range .Params.photos }}
  <meta name="twitter:image" content="{{ . }}">
  <meta property="og:image" content="{{ . }}">
  {{ end }}
  <meta name="fediverse:creator" content="@juha@moth.social" />
  <title>
    {{ block "title" . }}
    {{ if .IsHome }}
      {{ .Site.Title }} | {{ .Site.Params.itunes_description }}
    {{ else if .Title }}
      {{ .Title }} | {{ .Site.Title }}
    {{ else }}
      {{ .Summary | plainify | truncate 40 }} | {{ .Site.Title }}
    {{ end }}
    {{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="preload" href="{{ "/fonts/Cartridge-Regular.woff2" | relURL }}" as="font" type="font/woff2">
  <link rel="preload" href="{{ "/fonts/Cartridge-Bold.woff2" | relURL }}" as="font" type="font/woff2">
  <link rel="preload" href="{{ "/fonts/iAWriterMonoS-Regular.woff2" | relURL }}" as="font" type="font/woff2">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  {{ partial "microblog_head.html" . }}
</head>
